src/main/app/req_rply.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="req_rplyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/request" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="path2" doc:name="VM"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="reply" doc:name="VM"/>
        </request-reply>
        <set-payload value="#['from main scope']" doc:name="Set Payload"/>
        <logger message="from main scope" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="req_rplyFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="request" doc:name="VM"/>
        <set-payload value="#['from path1']" doc:name="Set Payload"/>
        <logger message="from path1" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="Copy_of_req_rplyFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="path2" doc:name="Copy_of_VM"/>
        <set-payload value="#['from path2']" doc:name="Copy_of_Set Payload"/>
        <logger message="from path2" level="INFO" doc:name="Copy_of_Logger"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="request" doc:name="VM"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="response" doc:name="VM"/>
        </request-reply>
    </flow>
</mule>
